<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Report_IMSI_PhoneNumber_Handler_Url" value="http://192.168.1.200:8084/api/PhoneNumber"/>
    <add key="IMSI_CallNumber_Handler_Url" value="http://192.168.1.200:8084/api/Com"/>
    <add key="Get_PhoneNumber_Handler_Url" value="http://192.168.1.200:8084/api/PhoneNumber"/>
    <add key="Report_SMS_Handler_Url" value="http://192.168.1.200:8084/api/SMS"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>